require 'rspec'
require '<%= underscored %>'
<% if rails %>

ActiveRecord::Base.establish_connection(
  :adapter => 'sqlite3',
  :database => ':memory:'
)

ActiveRecord::Schema.define do
  create_table :articles do |t|
    t.string     :name
    t.integer    :price

    t.timestamps
  end
end
<% end %>
